.card{
    background-color: var(--secondary);
    height: 360px;
    position: relative;
}

.card-image-one{
    object-fit: cover;
    height: 180px;
}

.card ul .fas{
    color: var(--primary);
    font-size: large;
}

.card .watch-later{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05rem;
    font-weight: bold;
}

.card .watch-later:hover{
    color: var(--primary);
}

.card footer{
    position: absolute;
    top: 20rem;
}

.card article:hover{
    background-color: var(--secondary);
}

.text-over-video{
    position: relative;
    cursor: pointer;
}

.play-btn{
    position: absolute;
    left: 112px;
    top: 78px;
    font-size: 2.5rem;
    z-index: 1;
}

.card-image-one:hover{
    opacity: 0.8;
}

.toggle-watch-later{
    color: var(--blue-text);
}