.video-listing-page{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem,1fr));
    row-gap: 1rem;
    column-gap: 2rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}