.liked-video-page{
    display: block;
    max-width: 80%;
    margin: 2rem auto;
}

.header-info{
    font-size: 1.5rem;
    text-align: center;
}

.liked-video-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem,1fr));
    row-gap: 1rem;
    column-gap: 2rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}