@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary: #6e9d58;
  --secondary: #dde9d8;
  --other: #023564;
  --other-secondary: #eaf6ff;
  --buttons: #f6ae2d;
  --font: black;
  --red: rgb(191 13 13);
  --blue-text:#2f9bff;
  --white:white;
  --fav:red;
  --grey:grey;

}

body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}